mixin tab-structure
  colors = ["f1c40f", "e67e22", "e74c3c", "f02475", "9b59b6", "383636", "34495e", "3498db", "1abc9c", "2ecc71"]
  classes = ["yellow", "orange", "pink", "red", "purple", "charcoal", "asphalt", "blue", "turquoise", "green"]
  ul(role='tablist')
    each color, i in colors
      tab = i+1
      li(role='tab', aria-controls='#tab#{tab}') Tab #{tab}
  each color, i in classes
    tab = i+1
    div(id='tab#{tab}', role='tabpanel')
      h1
        | This is the content of tab 
        span(style='display:inline-block;padding:0 0.3em;border-radius:4px;color:#fff;background:##{colors[i]};') panel #{tab}
      .pull-right.pull-none-small-tablet.gap-left.no-gap-small-tablet.align-center
        img(src='http://placehold.it/520x300/#{colors[i]}/ffffff')
      p.gap-top-small-tablet Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

extends template

block title
  title GroundworkCSS &hearts; Tabs

block content
  .container
    .padded
      .row
        .three.fifths.bounceInRight.animated
          h1.zero.museo-slab Tabs
          p.quicksand
            | Accessible, responsive tab panels that collapse into accordions at 
            a(href='breakpoints.html') targeted breakpoints
        .two.fifths.align-right-ipad.align-right-desktop.flipInX.animated
          p.quicksand Component Usage Example 9 of 14
          p
            a.blue.button(href='tables.html', rel='prev')
              | Back
            | 
            a.green.button(href='forms.html', rel='next')
              | Next: Forms
    hr
    .row
      .one.whole.padded
        .bounceInLeft.animated
          .row
            .one.whole.padded
              .tabs.ipad
                +tab-structure()
              pre.gap-top(data-lang='html')
                | <div class="tabs ipad">
                |   <ul role="tablist">
                |     <li role="tab" aria-controls="#tab1">Tab 1</li>
                |     <li role="tab" aria-controls="#tab2">Tab 2</li>
                |     <li role="tab" aria-controls="#tab3">Tab 3</li>
                |     <li role="tab" aria-controls="#tab4">Tab 4</li>
                |     <li role="tab" aria-controls="#tab5">Tab 5</li>
                |   </ul>
                |   <div id="tab1" role="tabpanel">
                |     <h1>This is the content of tab <span class="blue">panel 1</span></h1>
                |     <div class="pull-right pull-none-small-tablet gap-left no-gap-small-tablet align-center"><img src="http://placehold.it/520x300/3498db/ffffff"></div>
                |     <p class="gap-top-small-tablet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                |     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                |   </div>
                |   <div id="tab2" role="tabpanel">
                |     <h1>This is the content of tab <span class="red">panel 2</span></h1>
                |     <div class="pull-right pull-none-small-tablet gap-left no-gap-small-tablet align-center"><img src="http://placehold.it/520x300/e74c3c/ffffff"></div>
                |     <p class="gap-top-small-tablet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                |     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                |   </div>
                |   <div id="tab3" role="tabpanel">
                |     <h1>This is the content of tab <span class="purple">panel 3</span></h1>
                |     <div class="pull-right pull-none-small-tablet gap-left no-gap-small-tablet align-center"><img src="http://placehold.it/520x300/9b59b6/ffffff"></div>
                |     <p class="gap-top-small-tablet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                |     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                |   </div>
                |   <div id="tab4" role="tabpanel">
                |     <h1>This is the content of tab <span class="green">panel 4</span></h1>
                |     <div class="pull-right pull-none-small-tablet gap-left no-gap-small-tablet align-center"><img src="http://placehold.it/520x300/2ecc71/ffffff"></div>
                |     <p class="gap-top-small-tablet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                |     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                |   </div>
                |   <div id="tab5" role="tabpanel">
                |     <h1>This is the content of tab <span class="orange">panel 5</span></h1>
                |     <div class="pull-right pull-none-small-tablet gap-left no-gap-small-tablet align-center"><img src="http://placehold.it/520x300/e67e22/ffffff"></div>
                |     <p class="gap-top-small-tablet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                |     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                | </div>
          hr
          br
          h4 Vertical Tabs
          .row
            .one.whole.padded
              .tabs.vertical.ipad
                +tab-structure()
